@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  to {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.appetido-icon3 {
  position: relative;
  width: 184px;
  height: 27px;
}
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  position: absolute;
  height: 10%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 90%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon15,
.vector-icon16 {
  top: 45%;
  bottom: 45%;
}
.vector-icon16 {
  top: 90%;
  bottom: 0;
}
.icon-hamburger-menu3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 36px;
  height: 28.8px;
}
.menu-updown-fix3,
.our-menu-child10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.menu-updown-fix3 {
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-31xl) var(--padding-225xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.our-menu-child10 {
  background-color: var(--color-white);
  height: 3692px;
}
.our-menu-child11,
.our-menu-child12,
.our-menu-child13 {
  position: absolute;
  top: 781px;
  left: 121px;
  width: 307px;
  height: 307px;
  object-fit: cover;
}
.our-menu-child12,
.our-menu-child13 {
  top: 1361px;
}
.our-menu-child13 {
  top: 1951px;
}
.our-menu-child14,
.our-menu-child15,
.our-menu-child16,
.our-menu-child17 {
  position: absolute;
  top: 2541px;
  left: 121px;
  width: 307px;
  height: 307px;
  object-fit: cover;
}
.our-menu-child15,
.our-menu-child16,
.our-menu-child17 {
  left: 566px;
}
.our-menu-child16,
.our-menu-child17 {
  left: 1011px;
}
.our-menu-child17 {
  top: 1951px;
  left: 566px;
}
.our-menu-child18,
.our-menu-child19,
.our-menu-child20,
.our-menu-child21 {
  position: absolute;
  top: 1951px;
  left: 1011px;
  width: 307px;
  height: 307px;
  object-fit: cover;
}
.our-menu-child19,
.our-menu-child20,
.our-menu-child21 {
  top: 1361px;
  left: 566px;
}
.our-menu-child20,
.our-menu-child21 {
  left: 1011px;
}
.our-menu-child21 {
  top: 781px;
  left: 570px;
}
.our-menu-child22,
.our-menu-child23 {
  position: absolute;
  top: 781px;
  left: 1011px;
  width: 307px;
  height: 307px;
}
.our-menu-child22 {
  background-color: var(--color-gainsboro);
}
.our-menu-child23 {
  object-fit: cover;
}
.special-icon {
  position: absolute;
  top: 225.87px;
  left: 245px;
  width: 626px;
  height: 112.28px;
}
.menu-icon,
.order-child {
  position: absolute;
  top: 306px;
  left: 250px;
  width: 308px;
  height: 46px;
}
.order-child {
  top: 0;
  left: 0;
  background-color: var(--color-limegreen);
  width: 209px;
  height: 67px;
}
.order-now12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 29px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-kanit);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.order12 {
  position: absolute;
  top: 1218px;
  left: 170px;
  width: 209px;
  height: 67px;
}
.order12:hover,
.order13:hover,
.order14:hover,
.order15:hover,
.order16:hover,
.order17:hover,
.order18:hover,
.order19:hover,
.order20:hover,
.order21:hover,
.order22:hover,
.order23:hover {
  animation: 1s ease 0s infinite normal none jello-horizontal;
  opacity: 1;
}
.hamburger1,
.order-now13 {
  position: absolute;
  top: 1130px;
  left: 202px;
}
.order-now13 {
  top: 10px;
  left: 29px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-kanit);
  color: var(--color-white);
  text-align: center;
}
.order13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1798px;
  left: 170px;
  width: 209px;
  height: 67px;
}
.baby-crab1,
.order14 {
  position: absolute;
  top: 1710px;
  left: 205px;
}
.order14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 2388px;
  left: 170px;
  width: 209px;
  height: 67px;
}
.es-kuwut1,
.order15 {
  position: absolute;
  top: 2300px;
  left: 214px;
}
.order15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 2978px;
  left: 170px;
  width: 209px;
  height: 67px;
}
.es-teh1,
.order16 {
  position: absolute;
  top: 2890px;
  left: 233px;
}
.order16 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 2978px;
  left: 615px;
  width: 209px;
  height: 67px;
}
.order17,
.susu1 {
  position: absolute;
  top: 2890px;
  left: 686px;
}
.order17 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 2978px;
  left: 1060px;
  width: 209px;
  height: 67px;
}
.kopi1,
.order18 {
  position: absolute;
  top: 2890px;
  left: 1164px;
}
.order18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 2388px;
  left: 615px;
  width: 209px;
  height: 67px;
}
.es-capcin1,
.order19 {
  position: absolute;
  top: 2300px;
  left: 660px;
}
.order19 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 2388px;
  left: 1060px;
  width: 209px;
  height: 67px;
}
.order20,
.pop-ice1 {
  position: absolute;
  top: 2300px;
  left: 1120px;
}
.order20 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1798px;
  left: 615px;
  width: 209px;
  height: 67px;
}
.bakso-korea1,
.order21 {
  position: absolute;
  top: 1710px;
  left: 638px;
}
.order21 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1798px;
  left: 1060px;
  width: 209px;
  height: 67px;
}
.cumi-bakar1,
.order22 {
  position: absolute;
  top: 1710px;
  left: 1088px;
}
.order22 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1218px;
  left: 615px;
  width: 209px;
  height: 67px;
}
.kebab1,
.order23 {
  position: absolute;
  top: 1130px;
  left: 685px;
}
.order23 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1218px;
  left: 1060px;
  width: 209px;
  height: 67px;
}
.menu-kami1,
.sosis-bakar2 {
  position: absolute;
  top: 1130px;
  left: 1089px;
}
.menu-kami1 {
  top: 513px;
  left: 546px;
  font-size: var(--font-size-45xl);
  background: linear-gradient(90deg, #f2709c, #ff9472);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 299px;
  height: 79px;
  text-shadow: 0 4px 4px rgba(255, 0, 0, 0.5);
}
.vector-icon17 {
  position: absolute;
  height: 39.36%;
  width: 34.76%;
  top: 0;
  right: 27.47%;
  bottom: 60.64%;
  left: 37.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.buy-child,
.buy-item {
  position: absolute;
  top: 42.62px;
  left: 216.5px;
  width: 17px;
  height: 41.22px;
}
.buy-item {
  top: 42.97px;
  left: -0.67px;
  width: 233.67px;
  height: 140.84px;
}
.now,
.order24 {
  display: inline-block;
}
.order24 {
  position: absolute;
  top: 83.31px;
  left: 24px;
  width: 207px;
  height: 33px;
}
.now {
  top: 118.31px;
  left: 34px;
  font-size: var(--font-size-29xl);
  width: 189.45px;
  height: 100.37px;
}
.buy,
.now,
.our-menu1 {
  position: absolute;
}
.buy {
  height: 5.92%;
  width: 16.18%;
  top: 90.7%;
  right: 42.78%;
  bottom: 3.38%;
  left: 41.04%;
  cursor: pointer;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-source-serif-pro);
}
.buy:hover {
  animation: 2s ease 0s infinite normal none wobble-hor-bottom;
  opacity: 1;
}
.our-menu1 {
  top: 129px;
  left: 0;
  width: 1440px;
  height: 3692px;
}
.menu-tambahan {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 3821px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-kaushan-script);
}
.appetido-icon1 {
  position: relative;
  width: 184px;
  height: 27px;
}
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 10%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 90%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon8,
.vector-icon9 {
  top: 45%;
  bottom: 45%;
}
.vector-icon9 {
  top: 90%;
  bottom: 0;
}
.icon-hamburger-menu1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 36px;
  height: 28.8px;
}
.open {
  background-color: var(--color-black);
  width: 1440px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-31xl) var(--padding-225xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.home {
  position: relative;
  font-weight: 600;
  cursor: pointer;
}
.open1 {
  background-color: var(--color-black);
  width: 1440px;
  height: 59px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-31xl) var(--padding-225xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.hubungi-kami {
  position: relative;
  font-weight: 600;
}
.menu-updown-fix1,
.open4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.open4 {
  background-color: var(--color-goldenrod-100);
  width: 1440px;
  height: 59px;
  padding: var(--padding-31xl) var(--padding-225xl);
  box-sizing: border-box;
  justify-content: center;
}
.menu-updown-fix1 {
  position: relative;
  width: 100%;
  justify-content: flex-start;
  opacity: 0;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-plus-jakarta-sans);
}
.menu-updown-fix1.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
